<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
  <form method="POST" action="/team">
    <br><br>
    <label for="team[name]">Team Name</label>
    <input type="text" name="team[name]">
    <br><br>
    <label for="team[coach]">Coach</label>
    <input type="text" name="team[coach]">
    <br><br>
    <label for="team[pg]">Point Guard</label>
    <input type="text" name="team[pg]">
    <br><br>
    <label for="team[sg]">Shooting Guard</label>
    <input type="text" name="team[sg]">
    <br><br>
    <label for="team[pf]">Power Foward</label>
    <input type="text" name="team[pf]">
    <br><br>
    <label for="team[sf]">Small Forward</label>
    <input type="text" name="team[sf]">
    <br><br>
    <label for="team[c]">Center</label>
    <input type="text" name="team[c]">
    <br><br>
    <input type="submit">
  </form>
 </body>
</html>